.about-us {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--css-white);
}

.about-us-heading h2 {
  font-size: 54px;
  line-height: 87px;
  margin-right: 15rem;
}

.vertical-line {
  border: 1px solid var(--css-grey-secondary);
  height: 206px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 5rem;
}

.about-us-text h3 {
  font-size: 32px;
}

.about-us-text p {
  color: var(--css-grey-secondary);
  font-size: 18px;
  line-height: 29px;
}
