.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
}

.testimonial-heading-container {
  width: 70%;
  color: var(--css-white);
  display: flex;
  align-items: self-end;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.testimonial-heading-container h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 77px;
}

.swiper-buttons-container {
  display: flex;
  gap: 1rem;
}

.testimonial-heading-container button {
  width: 90.61px;
  height: 90.61px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 38px;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.testimonial-heading-container button:hover {
  box-shadow: 0 0 10px 10px var(--css-grey-primary);
}

.swiper-right-btn {
  background-color: var(--css-yellow);
}

.testimonial-card-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
